<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>myinventory.com</title>
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/navbar.css">
        <link rel="stylesheet" type="text/css" href="css/inventory.css">
    </head>
    <body>

    <%- include("navbar") -%>

    <div class="content">
        <header class="content-header">
            <h2>Welcome <%= name %>,<br> you've <%= count %> items in your inventory.</h2>
        </header>

    <article class="content-main">
        <div class="listTable">
            <table class="table">
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>

                <% items.forEach(item => { %>
                    <tr style="text-align: left;"></tr>
                    <td><%=item.category_name%></td>
                    <td><%=item.item_name%></td>
                    <td>$<%=item.price%></td>
                    <td>
                        <form method="POST" action="/inventory">
                            <input type="hidden" name="editItem" value="<%=item.item_id%>">
                            <input type="hidden" name="action" value="edit">
                            <input type="submit" style="cursor: pointer; padding: 3px 5px;" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/inventory">
                            <input type="hidden" name="deleteItem" value="<%=item.item_id%>">
                            <input type="hidden" name="action" value="delete">
                            <input type="submit" style="cursor: pointer; padding: 3px 5px;" value="Delete">
                        </form>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>
        <div class="advertiseSection">
            <h2 class="insideText">We're here to manage,<br>so you can focus on your work!</h2>
        </div>
    </article> 
</div>

<!--Edit item table-->
<div class="editItemContainer">
    <div class="editItemForm">
        <h2>Edit Item</h2>
        <form method="POST" action="/inventory" class="addItemFormContainer">
            <div class="fieldDiv">
                <select <%= (start_edit)?"":"disabled"%> class="field" name="category">
                    <% categories.forEach(cat => { %>
                        <option <%=edit_category === cat.category_id?"selected":""%> value="<%=cat.category_id%>"><%=cat.category_name%></option>
                    <% }) %>
                </select>
            </div>
            <div class="fieldDiv">
                <input type="text" <%= (start_edit)?"":"disabled"%> class="field" name="edit_itemName" value="<%= edit_itemName%>" placeholder="Item name">
            </div>
            <% if (message === 'invalidName') { %>
                <div class="warning">
                    <p><%= description %></p>
                </div>
            <% } %>
            <div class="fieldDiv">
                <input type="text" <%= (start_edit)?"":"disabled"%> class="field" name="edit_price" value="<%= edit_price%>" placeholder="Item price">
            </div>
            <% if (message === 'invalidPrice') { %>
                <div class="warning">
                    <p><%= description %></p>
                </div>
            <% } %>
            <div class="fieldDiv">
                <input type="hidden" name="action" value="update">
                <input type="submit" <%= (start_edit)?"":"disabled"%> style="cursor: pointer;" class="field submitBtn" value="Update" onclick="closeOverlay()">
            </div>
        </form>
    </div>
</div>

<!--Page overlay link-->
<span class="addItemLink" onclick="openOverlay()">Add Items</span>

<div id="myNav" class="overlay">
    <a href="javascript:void(1)" class="closebtn" onclick="closeOverlay()">&times;</a>
    <div class="overlay-content">
        <h2>Add Item</h2>
        <form method="POST" action="/inventory" class="addItemFormContainer">
            <div class="fieldDiv">
                <select class="field" name="category">
                    <% categories.forEach(cat => { %>
                        <option <%=edit_category === cat.category_id?"selected":""%> value="<%=cat.category_id%>"><%=cat.category_name%></option>
                    <% }) %>
                </select>
            </div>
            <div class="fieldDiv">
                <input type="text" class="field" name="itemName" value="<%=itemName%>" placeholder="Item name">
            </div>
            <div class="fieldDiv">
                <input type="text" class="field" name="price" value="<%=price%>" placeholder="Item price">
            </div>
            <div class="fieldDiv">
                <input type="submit" style="cursor: pointer;" class="field submitBtn" value="Save" onclick="closeOverlay()">
            </div>
        </form>
    </div>
</div>

<!--Page body-->
<div class="pageBodySection"></div>

<%- include("footer") -%>
<input type="hidden" name="scrollWindow" value="<%= scrollWindow %>">
</body>
<script>
window.onload = Scrolldown;

function Scrolldown() {
    document.getElementById("year").innerText = new Date().getFullYear();
    if (document.getElementsByName("scrollWindow")[0].value === "true") {
        window.scroll(0, 460);
    }
}
</script>
<script src="javascript/inventory-navbar.js"></script>
<script src="javascript/overlay.js"></script>
</html>
