<%- include("header") -%>

<div class="content">
    <header class="content-header">
        <h2>Welcome <%= name %>,<br> you've <%= count %> items in your inventory.</h2>
    </header>

    <article class="content-main">
        <div class="listTable">
            <table class="table">
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>

                <% items.forEach(item => { %>
                    <tr style="text-align: left;"></tr>
                    <td><%=item.CategoryName%></td>
                    <td><%=item.ItemName%></td>
                    <td>$<%=item.Price%></td>
                    <td>
                        <form method="POST" action="/">
                            <input type="hidden" name="editItem" value="<%=item.ItemID%>">
                            <input type="hidden" name="action" value="edit">
                            <input type="submit" style="cursor: pointer; padding: 3px 5px;" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/">
                            <input type="hidden" name="deleteItem" value="<%=item.ItemID%>">
                            <input type="hidden" name="action" value="delete">
                            <input type="submit" style="cursor: pointer; padding: 3px 5px;" value="Delete">
                        </form>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>
        <div class="advertiseSection">
            <h2 class="insideText">We're here to manage,<br>so you can focus on your work!</h2>
        </div>
    </article> 
</div>

<!--Edit item table-->
<div class="editItemContainer">
    <div class="editItemForm">
        <h2>Edit Item</h2>
        <form method="POST" action="/" class="addItemFormContainer">
            <div class="fieldDiv">
                <select <%= (start_edit)?"":"disabled"%> class="field" name="category">
                    <% categories.forEach(cat => { %>
                        <option <%=edit_category === cat.CategoryID?"selected":""%> value="<%=cat.CategoryID%>"><%=cat.CategoryName%></option>
                    <% }) %>
                </select>
            </div>
            <div class="fieldDiv">
                <input type="text" <%= (start_edit)?"":"disabled"%> class="field" name="edit_itemName" value="<%= edit_itemName%>" placeholder="Item name">
            </div>
            <c:if test="<%= message === 'invalidName'%>">
                <div class="warning">
                    <p><%= description %></p>
                </div>
            </c:if>
            <div class="fieldDiv">
                <input type="text" <%= (start_edit)?"":"disabled"%> class="field" name="edit_price" value="<%= edit_price%>" placeholder="Item price">
            </div>
            <c:if test="<%= message === 'invalidPrice'%>">
                <div class="warning">
                    <p><%= description%></p>
                </div>
            </c:if>
            <div class="fieldDiv">
                <input type="hidden" name="action" value="update">
                <input type="submit" <%= (start_edit)?"":"disabled"%> style="cursor: pointer;" class="field submitBtn" value="Update" onclick="closeOverlay()">
            </div>
        </form>
    </div>
</div>

<!--Page overlay link-->
<span class="addItemLink" onclick="openOverlay()">Add Items</span>

<div id="myNav" class="overlay">
    <a href="javascript:void(1)" class="closebtn" onclick="closeOverlay()">&times;</a>
    <div class="overlay-content">
        <h2>Add Item</h2>
        <form method="POST" action="/" class="addItemFormContainer">
            <div class="fieldDiv">
                <select class="field" name="category">
                    <% categories.forEach(cat => { %>
                        <option <%=edit_category === cat.CategoryID?"selected":""%> value="<%=cat.CategoryID%>"><%=cat.CategoryName%></option>
                    <% }) %>
                </select>
            </div>
            <div class="fieldDiv">
                <input type="text" class="field" name="itemName" value="<%=itemName%>" placeholder="Item name">
            </div>
            <div class="fieldDiv">
                <input type="text" class="field" name="price" value="<%=price%>" placeholder="Item price">
            </div>
            <div class="fieldDiv">
                <input type="submit" style="cursor: pointer;" class="field submitBtn" value="Save" onclick="closeOverlay()">
            </div>
        </form>
    </div>
</div>

<!--Page body-->
<div class="pageBodySection"></div>

<%- include("footer") -%>